* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #f0f8ff;
  font-family: sans-serif;
}

.toast-position {
  left: 0;
}

.displayGridHome {
  display: grid;
  margin-top: 1rem;
}

.header {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7fb73a),
    to(rgb(157, 203, 221))
  );
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  -moz-box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  -webkit-box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%),
    0 6px 20px 0 rgb(0 0 0 / 19%);
  color: #454545;
  text-shadow: 0 1px 0 white;
  padding: 0.5rem 0rem 1.3rem 0.5rem;
  border-bottom: 2px solid black;
  border-radius: 0px 0px 3rem 3rem;
  margin-bottom: 2rem;
  width: 100%;
}

.search-img {
  margin: 1rem 0.3rem;
  background-color: #82c4f7;
  width: 50%;
  margin-inline: auto;
  border: 1px solid #008b8b;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(135, 178, 253);
  color: white;
  cursor: pointer;
  padding: 7px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.detail-container {
  margin-top: 1rem;
  width: 90%;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 5px;
}

.display {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 20%;
  align-items: center;
}

.display > div > img {
  width: 100%;
}

.flexDisplay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0;
  padding: 0.3rem 2rem;
  text-transform: capitalize;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  background-color: blueviolet;
  padding: 0.5rem;
  color: white;
  text-transform: capitalize;
}

.quality {
  background-color: rgb(221, 220, 222);
  margin: 1rem 0;
}

.ability {
  background-color: rgb(132, 130, 134);
  color: rgb(227, 211, 211);
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.moreDetail {
  color: grey;
  cursor: pointer;
}

.moreDetail:hover {
  color: rgb(61, 98, 247);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.bookmark-container {
  width: 80%;
  margin-inline: auto;
}

.navlink {
  display: flex;
  justify-content: left;
  padding: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  text-decoration: none;
  font-family: cursive;
  border-radius: 0.5rem;
  box-shadow: 4px 10px 16px 1px rgba(0, 0, 0, 0.3),
    inset -2px 9px 20px 0px rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.navlink:active {
  color: rgb(29, 29, 47);
}

.effect {
  border: 1px solid #008b8b;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

/* for search container */
@media screen and (max-width: 350px) {
  .search-container {
    display: block;
  }

  .search-container > div {
    margin-top: 0.4rem;
  }

  .detail-container {
    padding: 0.5rem 0.3rem;
  }
}

/* for detail page */
@media screen and (max-width: 670px) {
  .display {
    display: block;
  }

  .display > div > img {
    margin-bottom: 1rem;
    width: 40vw;
  }
}

/* for home page  */

@media screen and (max-width: 481px) {
  .displayGridHome {
    /* grid-template-columns: auto; */
    display: block;
  }

  .bookmark-container {
    width: 95%;
    margin-inline: auto;
  }

  .search-img {
    width: 90%;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .displayGridHome {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .displayGridHome {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 1025px) {
  .displayGridHome {
    grid-template-columns: auto auto auto auto;
  }
}
